---
---
<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap" rel="stylesheet">  
</header>

<header class="bg-background hidden lg:block">
  <div class="flex justify-between items-center px-40 py-1 pt-2 mb-2">
    <div class="flex items-center">
      <img class="mr-2 h-auto w-4" src="/icon-mail.svg">
      <span class="text-gray font-inter text-sm">soporte@certificadores.cl</span>
    </div>
    <div class="flex space-x-4 pt-1">
      <a href="#"><img src="/icon-twitter.svg" alt="Twitter" class="w-4 h-4"></a>
      <a href="#"><img src="/icon-insta.svg" alt="Instagram" class="w-4 h-4"></a>
      <a href="#"><img src="/icon-linkedin.svg" alt="LinkedIn" class="w-4 h-4"></a>
    </div>
  </div>
</header>

<body>
  <nav class="bg-white w-full h-24 flex flex-col md:flex-row md:items-center p-3 rounded-md shadow">
    <div class="flex items-center justify-start px-10 space-x-3">
      <img class="w-12 max-h-12" src="/logo-cert.png" alt="Logo Certificadores">
      <span class="text-5xl font-dm-sans text-primary">Certificadores</span>
    </div>

    <main class="flex justify-center items-center bg-background rounded-lg w-full max-w-3xl h-14 ps-4 my-2 md:my-0 md:mx-10 ">
      <div class="text-gray flex space-x-6 font-inter">
        <a href="#" class="text-center hover:text-primary">Inicio</a>
        <a href="#" class="text-center hover:text-primary">Nosotros</a>
        <a href="#" class="text-center hover:text-primary">Servicios</a>
        <a href="#" class="text-center hover:text-primary">Solicitar</a>
      </div>
    </main>
    <div class="flex-shrink-0 ps-4 items-center justify-center">
      <div class="bg-red-600 rounded-full flex justify-center items-center w-10 h-10">
        <img src="/icon-whatsapp.svg" alt="WhatsApp" class="w-6 h-6">
      </div>
      <div class="text-gray font-inter ml-3">
        <div>Háblanos por Whatsapp</div>
        <div>+569 6536 3409</div>
      </div>
    </div>
     

  </nav>
</body>

<style>
  .font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  }
  .font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 1.2;
  font-style: normal;
  }
  .text-primary {
    color: #015fc9;
  }
  .text-gray {
    color: #6c757d;
  }
  .bg-background {
    background: #f2f5f9;
  }
</style>
