---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Carrusell from '../components/Carrusell.astro';
// Acá se escribe el JavaScript o TypeScript
---

<!-- Lo que se renderiza -->

<Layout title="Certificadores">
	<main>
			<Header/>
			<Carrusell/>
	</main>
</Layout>


